<ion-header>
  <ion-toolbar>
    <ion-card-title>Pokemon</ion-card-title>
      <ion-card-subtitle>Tipos</ion-card-subtitle>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
    <ion-searchbar placeholder="Buscar pokemones" show-clear-button="never"  (input)="buscarNombre($event)"animated ></ion-searchbar>
 
  </ion-toolbar>


<ion-content>
  <ion-list *ngFor="let pokemon of buscarPokemon" [inset]="true">
    <ion-item>
      <ion-item>Tipo:</ion-item>
      <ion-label>{{pokemon.name}}</ion-label>
      <!-- <ion-nav-link router-direction="forward" [component]="component" routerLink="listado-pokemon/{{pokemon.name}}">
        <ion-button>Infoa</ion-button>
      </ion-nav-link> -->
      <ion-nav-link (click)="verPokemones(pokemon.name)" slot="end">
        <ion-button>Info</ion-button>
      </ion-nav-link>
    </ion-item>
  </ion-list>
</ion-content>